extends home.pug
block content
    h4  Login
    form(method="POST")
        input(placeholder="ID", tpye="text", name="ID")
        input(placeholder="password", type="password", name="password")
        input(type="submit", value="submit")