extends home.pug
block content
    nav
        ul
            li
                a(href="/purchase/beverage") beverage
            li
                a(href="/purchase/bakery") bakery
            li
                a(href="/purchase/icecream") ice-cream 
