extends home.pug
block content
    nav
        ul
            li
                 a(href="/purchase/bakery/1") white-bread
            li
                 a(href="/purchase/bakery/2") choco-bread
            li
                 a(href="/purchase/bakery/3") corn-bread
