extends home.pug
block content
    nav
        ul
            li
                a(href="/beverage") beverage
            li
                a(href="/bakery") bakery
            li
                a(href="/icecream") ice-cream 
