extends home.pug
block content
    nav
        ul
            li
                 a(href="/purchase/icecream/1") vanilla
            li
                 a(href="/purchase/icecream/2") choco
            li
                 a(href="/purchase/icecream/3") starwberry
