extends home.pug
block content
    nav
        ul
            li
                 a(href="/purchase/beverage/1") coke
            li
                 a(href="/purchase/beverage/2") sprite
            li
                a(href="/purchase/beverage/3") fanta
