extends home
block content
    nav
        ul
            li
                 a(href=`reserve/1`) seat1 
            li
                 a(href="/reserve/2") seat2
            li
                 a(href="/reserve/3") seat3
